    .white {
        color: white
    }
    
    .gray {
        background: #f8f9fa;
        border: none;
        border-radius: 13px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .hr {
        border-top: 1px solid white
    }
    
    .end {
        text-align: end
    }
    
    .size {
        font-size: 25px;
    }
    
    .size-15 {
        font-size: 20px;
    }
    
    .times {
        font-size: 25px;
        cursor: pointer;
    }
    
    .times a:link,
    .times a:visited {
        color: red;
    }
    
    .hidden {
        visibility: hidden;
    }
    
    .pointer {
        cursor: pointer;
    }
    /* Profile sidebar22 */
    
    .sidebar2 {
        margin: 0;
        padding: 0;
        /* width: 200px; */
        background-color: #f1f1f1;
        /* position: fixed; */
        height: 100%;
        /* overflow: auto; */
    }
    
    .sidebar2 a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
    }
    
    .sidebar2 a.active {
        background-color: #4CAF50;
        color: white;
    }
    
    .sidebar2 a:hover:not(.active) {
        background-color: #555;
        color: white;
    }
    
    div.content2 {
        margin-left: 200px;
        padding: 1px 16px;
        height: 1000px;
    }
    
    #regMobile {
         visibility: hidden;   
    }

    .refBorder {
        border: 1px solid #f2184f; 
        padding: 20px;
    }

    .textdiv {
        animation: textgrowth 1s infinite alternate;
    }

    .cac {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: 400px;
    }

    .neons h3 {
        font-size: 3rem;
        /* text-align: center; */
         /* font-weight: bold; */
        -webkit-animation: glow 2s ease-in-out infinite alternate;
        -moz-animation: glow 2s ease-in-out infinite alternate;
        animation: glow 2s ease-in-out infinite alternate;
      }

      @-webkit-keyframes glow {
        from {
         color: #fff;
       text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
     }
     
     to {
        color: gray;
       text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
     }
   }
    @keyframes textgrowth {
        0% {
            /* font-size: 22px; */
            padding: 20px;
        }
        100% {
            /* font-size:  24px; */
            padding: 40px;
        }
    }

    .saturate { filter: invert(25%) sepia(99%) saturate(6199%) hue-rotate(122deg) brightness(95%) contrast(104%); }

    @media screen and (max-width: 700px) {
        .sidebar2 {
            width: 100%;
            height: auto;
            position: relative;
        }
        .sidebar2 a {
            float: left;
        }
        div.content2 {
            margin-left: 0;
        }
    }
    
    @media screen and (max-width: 400px) {
        .sidebar2 a {
            text-align: center;
            float: none;
        }
        
    }
    
    @media (max-width: 767px) {
        .end {
            text-align: left;
        }
        #regMobile {
            visibility: visible;
        }
        #logMobile {
            display: none;
        }

        .cac {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            height: 400px;
        }
    }

    